<% if user_signed_in? %>
	<h5> You're Logged In!</h5>
<% else %>
<!-- <img src="http://bit.ly/RhrMEn" /> -->
	<div class="hero-unit">
		<h2>Community Heroes!</h2>
		<p>
			Has someone done soemthing remarkable in your community ? Do you know someone who deserves to be recognized? 
			<!-- <%= link_to "One Month Rails", "http://onemonthrails.com"  %>  -->
		</p>
		<p>
			Post your local heroes by uploading a picture, link or story about a local hero so that they get the recognition they deserve.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>

