/* You can change the font with the below command calling from google fonts or other font sites*/
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

/*Below command changes the button from blue to green*/
$btnPrimaryBackground: green;
/* The 2 below commands make the navigation bar fully white*/
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/*The below item overrides a default bootstrap design by whiting out the shadow on the navigation bar*/
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	/* Creates a margin for the footer from the top and makes it gray  */
	margin-top: 5px0px; 
	color: $grayLight;
	a {
		color: $gray;
	}
}

/*Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Project required 5 instead of 50 */
.description {
	margin: 10px 0 50px;
}